/*CSS file of budget page*/
*{
  font-family:Malgun Gothic, Dotum;
}

#header {
  width:1560px;
  background:#A3BFB7;
  border-bottom:5px dashed #395953;
}

h1 {
  position:relative;
  padding-top:80px;
  padding-left:20px;
  padding-bottom:20px;
  padding-right:0px;
  font-size:40px;
  font-weight:bold;
  color:white;
  margin:0px;
  border:0px solid red;
  display:inline-block;
}

#header>a:link, #header>a:visited {
  position:relative;
  float:right;
  margin-top:80px;
  margin-bottom:20px;
  margin-right:20px;
  background-color:#A3BFB7;
  color:#F2F2F2;
  padding:15px;
  border:5px solid;
  text-align:center;
  text-decoration:none;
  display:inline-block;
}

#header>a:hover {
  background-color:#72A69C;
}

#manage {
  position:relative;
  padding:20px;
  background:#F2F2F2;
  float:left;
  height:500px;
}

#chi {
  position:relative;
  padding:20px;
  background:#C1D9D4;
  float:left;
  height:500px;
}

#others {
  position:relative;
  padding:20px;
  background:#F2F2F2;
  float:left;
  height:500px;
}

table {
  border-collapse:collapse;
  font-size:15px;
}

th, td {
  padding:15px;
}

